<div class="bg-background border-l w-80 flex flex-col h-screen overflow-auto">
  <div class="p-3 flex z-50 sticky top-0 bg-background justify-between">
    <p class="font-bold text-xl">Filters</p>
    <sgb-button (handleClick)="clearFilters()" variant="ghost" size="sm"
      >Clear Filters</sgb-button
    >
  </div>
  <div class="p-3 flex flex-col gap-6">
    <ng-container *ngFor="let component of filters">
      <div>
        <label
          class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70 ml-1 capitalize"
        >
          {{ component.label || component.field }}
        </label>
        <div class="grid grid-cols-2 gap-4">
          <ng-container *ngIf="component.type === 'text'">
            <ng-container
              *ngTemplateOutlet="textFilter; context: { $implicit: component }"
            ></ng-container>
          </ng-container>

          <ng-container *ngIf="component.type === 'number'">
            <ng-container
              *ngTemplateOutlet="
                numberFilter;
                context: { $implicit: component }
              "
            ></ng-container>
          </ng-container>

          <ng-container *ngIf="component.type === 'select'">
            <ng-container
              *ngTemplateOutlet="
                selectFilter;
                context: { $implicit: component }
              "
            ></ng-container>
          </ng-container>

          <gb-input
            [control]="controls[component.field]"
            class="col-span-2"
            type="date"
            *ngIf="component.type === 'date'"
          />
        </div>
      </div>
    </ng-container>
  </div>

  <div class="mt-auto sticky bottom-0">
    <div class="flex">
      <sgb-button
        variant="secondary"
        rounded="none"
        class="flex-grow"
        (handleClick)="close()"
        >Cancel</sgb-button
      >
      <sgb-button
        class="flex-grow"
        rounded="none"
        type="submit"
        (handleClick)="handleSearch()"
        >Search</sgb-button
      >
    </div>
  </div>
</div>

<ng-template #numberFilter let-component>
  <gb-select
    [control]="conditionControls[component.field]"
    [items]="conditions.number"
    [clearable]="false"
    [searchable]="false"
  />
  <gb-input
    [control]="controls[component.field]"
    type="number"
    *ngIf="conditionControls[component.field].value !== 'between'"
  />
  <gb-input
    [control]="controls[component.field]"
    [hints]="['Add values with dash, eg: 100-200']"
    *ngIf="conditionControls[component.field].value === 'between'"
  />
</ng-template>

<ng-template #textFilter let-component>
  <gb-select
    [control]="conditionControls[component.field]"
    [items]="conditions.text"
    [clearable]="false"
    [searchable]="false"
    *ngIf="component.type === 'text'"
  />

  <gb-input
    [control]="controls[component.field]"
    *ngIf="component.type === 'text'"
  />
</ng-template>

<ng-template #selectFilter let-component>
  <gb-select
    class="col-span-2"
    [control]="controls[component.field]"
    [items]="component.items"
    [typeahead]="component.typeahead"
    [multiple]="component.multiple"
    [bindLabel]="component.bindLabel"
    [bindValue]="component.bindValue"
    [searchable]="component.searchable"
    *ngIf="component.type === 'select'"
  />
</ng-template>
