<gb-form [form]="matchForm" [zodSchema]="{{zodSchema}}" >
  <div class="grid grid-cols-3 gap-4">
    <gb-input
      label="test"
      [control]="matchFormControls.teamOne"
      [showErrors]="showErrors"
    />
  </div>

  <gb-textarea label="Description" [control]="matchFormControls.description" [showErrors]="showErrors" />
  <gb-textarea label="H2H Team" [control]="matchFormControls.h2hTeam" [showErrors]="showErrors" />
</gb-form>